/* --------LOGIN--------- */
/* ----------------------- */
.login-container{
    position:relative;
    width:100vw;
}
.login-formulaire{
    width:30vw;
    height: 50vh;
    position:absolute;
    top:50%;
    right:50%;
    transform: translate(50%,50%);
}

/* --------HEADER--------- */
/* ----------------------- */
.header{
    display:flex;
    justify-content: space-between;
    padding:20px 4vw;
    background: #413F42;
    color: #fff;
}
.header_nav1{
    width:50vw;
    display: flex;
    justify-content: space-between;
}
.header_icon-menu{
    height: 30px;
    width:30px;
}
.header_nav2{
    display:flex;
    align-items: center;
}
.header_nav2-input{
    height: 60%;
    margin:auto 10px;
}

/* --------FOOTER--------- */
/* ----------------------- */
footer{
    display:grid;
    justify-items: center;
    align-items: center;
    padding:30px 4vw;
    background: #413F42;
}


/*---------------------------
------------HOME--------------
------------------------------*/
 .home_background{
    position:relative;
    background: url("../images/img.jpg");
    height: 60vh;
}
.home_background h1{
    position:absolute;
    bottom:30%;
    left:50%;
    color: burlywood;
    transform: translateX(-50%);
}
.home_list-section{
    padding: 30px;
    background: white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.home_list-section_article{
    border:solid 1px #212529;
    border-radius: 10px;
    overflow: hidden;
}
.home_list-section_articleHead{
    padding: 5px 15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background: #212529;
}
.home_list-section_articleHead p{
    color:darkred;
}
.home_list-section_articleHead h3{
    color:white;
}
.home_list-section_articleContent{
    padding:10px 5px;
}
.home_list-section_articleAuthor{
    font-size: 1.2rem;
}


/*---------------------------
------------PROFIL--------------
------------------------------*/
.profil{
    display:grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "person competence"
    "parcours parcours"
    ;

}
.profil>*{
    border:solid 2px red;
    height: 400px;
}
.profil_person{
    grid-area: person;
}
.profil_competence{
    grid-area: competence;
}
.profil_parcours{
    grid-area: parcours;
}

/*---------------------------
------------MESSAGE--------------
------------------------------*/

.message{
    display:grid;
    width:100vw;
    grid-template-columns:300px 1fr ;
    grid-template-rows: auto 150px 800px 200px auto;
    grid-template-areas: 
    "header header"
    "list embleme"
    "list conversation"
    "list option"
    "footer footer"
    ;
}
.message-head{
    grid-area: header;
}
.message-parameter{
    grid-area: list;
    background:#A64B2A ;
    border: solid 3px #212529;
}
.message-embleme{
    grid-area: embleme;
    border: solid 3px #212529;
}
.message-conversation{
    grid-area: conversation;
}
.message-form{
    grid-area: option;
}
.message-foot{
    grid-area: footer;
}

.message-parameter_embleme{
    margin:20px auto 20px auto;
    width:90%;
    height: 30%;
    position:relative;
    background: #413F42;
}
.message-parameter_embleme>img{
    width: 50%;
    border-radius: 100%;
    position:absolute;
    bottom:-10%;
    left:50%;
    transform: translateX(-50%);
}
.message-parameter_icons{
    padding: 10px 5px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.message-parameter_icons>*{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-parameter_option{
    margin:20px 5px;
}
.message-parameter_option>p{
    text-align: center;
    margin: 5px;
}
.message-parameter_option li{
    display: grid;
    padding:5px;
    margin:5px;
    border-radius: 10px;
    grid-template-columns: 1fr 30px;
    justify-content: space-between;
    align-items: center;
    background: #212529;
}

.message-embleme{
    width:100%;
    background: #A64B2A;
    position:relative;
}
.message-embleme img{
    height: 95%;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.message-conversation {
    border:solid 3px darkgreen;
    position:relative;
    height: 500px;
}
.message-conversation_listing{
    position:absolute;
    width:100%;
    border:solid 3px rgb(56, 1, 1);
}
.message-conversation_listing li{
    display: flex;
    margin:5px 0 10px 0;
    border:solid 3px rgb(1, 36, 34);
}
.message-conversation_listing div{
    display: flex;
    flex-direction: column;
    max-width: 40%;
}
.message-conversation_listing p{
    background:#413F42;
    border-radius: 5px;
    padding:2px 5px;
}
.message_time{
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
}

.message-me{
    flex-direction: row-reverse;
}
.message-me span{
    text-align: end;
}



/*---------------------------
------------MENU--------------
------------------------------*/
