*{
    margin:0;
}
ul{
    list-style: none;
    padding: 0;
}
li>p{
    font-size: 1.1rem;
}

li{
    list-style: none;
    font-size: 1.2rem;
    padding:0 2%;
}
a{
    text-decoration: none !important;
    color:white !important;
}
a:hover{
    color:burlywood !important;
}
.pageOn{
    color:burlywood !important;
}
.icon{
    width:25px;
}


/* --------LOGIN--------- */
/* ----------------------- */
.login-container{
    position:relative;
    width:100vw;
}
.login-formulaire{
    width:30vw;
    height: 50vh;
    position:absolute;
    top:50%;
    right:50%;
    transform: translate(50%,50%);
}

/* --------HEADER--------- */
/* ----------------------- */
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:16px 4vw;
    background: #413F42;
    color: #fff;
}
header>ul{
    margin:0;
}
.header_nav1{
    width:50vw;
    display: flex;
    justify-content: space-between;
}
.header_icon-menu{
    height: 30px;
    width:30px;
}
.header_nav2{
    display:flex;
    align-items: center;
}
.header_nav2-input{
    height: 60%;
    margin:auto 10px;
}

/* --------FOOTER--------- */
/* ----------------------- */
footer{
    display:grid;
    justify-items: center;
    align-items: center;
    padding:30px 4vw;
    background: #413F42;
}


/*---------------------------
------------HOME--------------
------------------------------*/
.home{
    background: linear-gradient(#100541,#100541,white,white);
}
 .home_background{
    position:relative;
    background: url("../images/img.jpg");
    height: 60vh;
}
.home_background h1{
    position:absolute;
    bottom:30%;
    left:50%;
    color: burlywood;
    transform: translateX(-50%);
}
.home_list{
    margin-bottom: 10px;
}
.home_list-section{
    padding: 30px;
    /* background: white; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.home_list-section_article{
    border:solid 1px #212529;
    border-radius: 10px;
    overflow: hidden;
}
.home_list-section_articleHead{
    padding: 5px 15px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background: #212529;
}
.home_list-section_articleHead p{
    color:darkred;
}
.home_list-section_articleHead h3{
    color:white;
}
.home_list-section_articleContent{
    padding:10px 5px;
}
.home_list-section_articleAuthor{
    font-size: 1.2rem;
}
.form_content{
    background: rgba(34, 48, 62, 0.6);
}
.indexPage, .indexPage_number{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indexPage button{
    display: inline-block;
    border:solid 2px black;
    padding:10px 15px;
    margin-right: 10px;
}


/*---------------------------
------------PROFIL--------------
------------------------------*/
.profil{
    display:grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "person competence"
    "parcours parcours"
    ;

}
.profil>*{
    border:solid 2px red;
    height: 400px;
}
.profil_person{
    grid-area: person;
}
.profil_competence{
    grid-area: competence;
}
.profil_parcours{
    grid-area: parcours;
}

/*---------------------------
------------MESSAGE--------------
------------------------------*/

.message{
    color:#fff;
    background-image:linear-gradient(to bottom left,#100541,#100541,#ff5349) ;
}
.block1 ,.block2{
    background: rgba(16, 5, 65, 0.801);
    border-radius: 20px;
    overflow: hidden;
}
.list-user >li{
    color:black;
    margin-top: 5px;
}




.message-embleme{
    width:100%;
    height: 200px;
    background: #ff5349;
    position:relative;
}
.message-embleme img{
    height: 95%;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.message-conversation li{
    display: flex;
    margin:3px 0 10px 0;
    border:solid 3px rgb(1, 36, 34);
}
.message-conversation div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
}
.message-conversation p{
     background-color:  #ff5349;
    /* background:#FEE715FF; */
    border-radius: 5px;
    padding:2px 5px;
}
.message_time{
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
}

.message-me{
    flex-direction: row-reverse;
}
.message-me p{
    background-color:  #ff5349;
}
.message-me span{
    text-align: end;
}

