*{
    margin:0;
}
ul{
    list-style: none;
    padding: 0;
}
li>p{
    font-size: 1.1rem;
}
.nav{
    width:50vw;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    font-size: 1.2rem;
    padding:0 2%;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:burlywood;
}
.pageOn{
    color:burlywood;
}
.header{
    display:flex;
    justify-content: space-between;
    padding:20px 4vw;
    background: #413F42;
    color: #fff;
}
.icon_menu{
    height: 30px;
    width:30px;
    /* background: url(../images/menu.png); */
}
.nav2{
    display:flex;
    align-items: center;
}
.nav2 input{
    height: 60%;
    margin:auto 10px;
}

footer{
    display:grid;
    justify-items: center;
    align-items: center;
    padding:30px 4vw;
    background: #413F42;
}


/*---------------------------
------------HOME--------------
------------------------------*/

.container_home .embleme{
    position:relative;
    background: url("../images/img.jpg");
    height: 60vh;
}
.embleme h1{
    position:absolute;
    bottom:30%;
    left:50%;
    color: burlywood;
    transform: translateX(-50%);
}

.container_home section{
    padding: 30px;
    background: white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.container_home article{
    border:solid 1px #212529;
    border-radius: 20px;
    overflow: hidden;
}
.article_entete{
    padding: 5px;
    display:flex;
    justify-content: space-between;
    align-content: center;
    background: #212529;
}
.article_content{
    padding:10px 5px;
}


/*---------------------------
------------PROFIL--------------
------------------------------*/
.container_profil{
    display:grid;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "person competence"
    "parcours parcours"
    ;

}
.container_profil>*{
    border:solid 2px red;
    height: 400px;
}
.person_profil{
    grid-area: person;
}
.competence_profil{
    grid-area: competence;
}
.parcours_profil{
    grid-area: parcours;
}

/*---------------------------
------------MESSAGE--------------
------------------------------*/
.container_message{
    display:grid;
    width:100vw;
    grid-template-columns:300px 1fr ;
    grid-template-rows: auto 200px 300px 200px auto;
    grid-template-areas: 
    "header header"
    "list embleme"
    "list conversation"
    "list option"
    "footer footer"
    ;
}
.header{
    grid-area: header;
}
.listing_option{
    grid-area: list;
    background:#A64B2A ;
    border: solid 3px #212529;
}
.embleme_message{
    grid-area: embleme;
    border: solid 3px #212529;
}
.conversation_message{
    grid-area: conversation;
}
.option_message{
    grid-area: option;
}
.footer{
    grid-area: footer;
}

.listing_option .a{
    margin:20px auto 20px auto;
    width:90%;
    height: 30%;
    position:relative;
    background: #413F42;
}
.a>img{
    width: 50%;
    border-radius: 100%;
    position:absolute;
    bottom:-10%;
    left:50%;
    transform: translateX(-50%);
}
.icons{
    padding: 10px 5px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.icons>*{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons img ,.icon{
    width:25px;
}
.listing_option .option{
    margin:20px 5px;
}
.listing_option .option>p{
    text-align: center;
    margin: 5px;
}
.coincoin{
    display: grid;
    padding:5px;
    margin:5px;
    border-radius: 10px;
    grid-template-columns: 1fr 30px;
    justify-content: space-between;
    align-items: center;
    background: #212529;
}

/*-----------------------------*/
.embleme_message{
    width:100%;
    background: #A64B2A;
    position:relative;
}
.embleme_message img{
    height: 95%;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}


/*---------------------------
------------MENU--------------
------------------------------*/
