*{
    margin:0;
}
ul{
    list-style: none;
    padding: 0;
}
li>p{
    font-size: 1.1rem;
}

li{
    list-style: none;
    font-size: 1.2rem;
    padding:0 2%;
}
a{
    text-decoration: none !important;
    color:white !important;
}
a:hover{
    color:burlywood !important;
}
.pageOn{
    color:burlywood !important;
}
.icon{
    width:25px;
}


